<div class="container">
	<div class="row">
		<p><%= flash[:notice] %></p>

		<%= render 'users/side', user: @user, post_book: @post_book %>

		<div class="col-xs-9">
			<table width= "800">
				<h1>Books</h1>
				<tr align="left">
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
				<% @post_books.each do |post_book| %>
					<tr>
						<td><%= link_to user_path(post_book.user.id) do %>
								<%= attachment_image_tag post_book.user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
							<% end %>
						</td>
						<td><%= link_to post_book.title, post_book_path(post_book) %></td>
						<td><%= post_book.body %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>