<p><%= flash[:notice] %></p>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>User info</h1>

			<%= attachment_image_tag @user, :profile_image, size: "200x200", fallback: "no_image.jpg"%>

			<p>name:<%= @user.name %></p>

			<p>introduction:<%= @user.introduction %></p>


			<% if @user.id == current_user.id %>
			        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
			<% end %>

			<h1>New Book</h1>
			<%= form_for(@post_book) do |f| %>
				<div class="new-book-form">
					<p>Title</p>
					<%= f.text_field :title %>

					<p>Opinion</p>
					<%= f.text_area :body %>

					<p><%= f.submit 'Create Book' %></p>
				</div>
			<% end %>
		</div>

		<div class="col-xs-9">
			<table width="800">
				<h1>Books</h1>
				<tr>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
				<% @post_books.each do |post_book| %>
					<tr align="left">
						<td><%= link_to post_book.title, post_book_path(post_book) %></td>
						<td><%= post_book.body %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>