<% if @post_book.errors.any? %>
	<%= @post_book.errors.count %>error prohibited this post_book from being saved:<br>
		<ul>
		<% @post_book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
<% end %>

<table width="800">
	<h1>Books</h1>
	<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>
	<% @post_books.each do |post_book| %>
		<tr align="left">
			<td><%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpg"%></td>
			<td><%= link_to post_book.title, post_book_path(post_book) %></td>
			<td><%= post_book.body %></td>
		</tr>
	<% end %>
</table>