<div class="container">
	<div class="row">
		<p><%= flash[:notice] %></p>

		<%= render 'users/side', user: @user, post_book: @post_book %>

		<div class="col-xs-9">
			<table width="800">
				<h1>Book detail</h1>
				<tr>
					<td>
						<%= link_to user_path(@user.id) do %>
							<%= attachment_image_tag @user, :profile_image, size: "60x60", fallback: "no_image.jpg" %><br>
							<%= @user.name%>
						<% end %>
					</td>
					<td><%= link_to @my_book.title, post_book_path(@my_book)%></td>
					<td><%= @my_book.body %></td>
					<td>
						<% if @my_book.favorited_by?(current_user) %>
						    <%= link_to post_book_favorites_path(@my_book), method: :delete do %>
						    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						    <%= @my_book.favorites.count %>
						    <% end %>
						<% else %>
						    <%= link_to post_book_favorites_path(@my_book), method: :post do %>
						    <i class="fa fa-heart-o" aria-hidden="true"></i>
						    <%= @my_book.favorites.count %>
						    <% end %>
						<% end %>
					</td>
					<td>コメント:<%= @my_book.book_comments.count %></td>
					<% if @my_book.user == current_user %>
						<td class="edit-btn"><%= link_to "Edit", edit_post_book_path(@my_book.id), class: "pull-right" %></td>
					<% end %>
					<% if @my_book.user == current_user %>
						<td><%= link_to "Destroy", post_book_path(@my_book.id), method: :delete, "data-confirm" => "本当に削しますか？" %></td>
					<% end %>
				</tr>

				<% if @book_comment.errors.any? %>
					<%= @book_comment.errors.count %>error prohibited this book_comment from being saved:<br>
						<ul>
						<% @book_comment.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
						</ul>
				<% end %>
				<% @my_book.book_comments.each do |book_comment| %>
					<tr>
						<td>
							<%= link_to user_path(book_comment.user) do %>
								<%= attachment_image_tag book_comment.user, :profile_image, size: "60x60", fallback: "no_image.jpg" %><br>
								<%= book_comment.user.name %>
							<% end %>
							<%= book_comment.comment %>
							<% if book_comment.user == current_user %>
								<%= link_to "Destroy", post_book_book_comments_path(book_comment), class: "book-destroy book-btn", method: :delete, "data-confirm" => "本当に削しますか？" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			<%= form_for [@my_book, @book_comment] do |f| %>
            	<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
			    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
			<% end %>
		</div>
	</div>
</div>