<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-contents">
        <h2 class="header-title">Bookers2</h2>
        <div class="header-list">
          <ul>
            <% if user_signed_in? %>
              <li class="header-list">
                <%= link_to "Home", user_path(current_user.id) %>
              </li>
              <li class="header-list">
                <%= link_to 'Users', users_path %>
              </li>
              <li class="header-list">
                <%= link_to 'Books', post_books_path %>
              </li>
              <li class="header-list">
                <%= link_to 'logout', destroy_user_session_path, method: :delete %> <!-- 要確認 -->
              </li>
            <% else %>
              <li class="header-list">
                <%= link_to "Home", "/" %> <!-- 要変更 -->
              </li>
              <li class="header-list">
                <%= link_to "About", home_about_path %>
              </li>
              <li class="header-list">
                <%= link_to "sign up", new_user_registration_path %>
              </li>
              <li class="header-list">
                <%= link_to "login", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-contents">
        CopyRight Infratop.inc
      </div>
    </footer>
  </body>
</html>